@media only screen and (min-width: 700px) {
    .aside{
        position: initial;
        flex: 1.5;
        height: 100vh;
        overflow-y: hidden;
        
    }
    .aside__list{
        height: 93%;
        overflow-y: auto;
    }
    
    .aside_header__close{
        display: none;
    }
    .aside_list_element__info{
        display: block;
    }    
    ::-webkit-scrollbar {
        width: 10px;
    }
    .aside__header{
        margin: 0;
    }
    /* Track */
    
    ::-webkit-scrollbar-track {
    
    border-radius: 70px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #43c53c; 
    border-radius: 20px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #217f31; 
    
    }
}